*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
    font-family: 'Quicksand', sans-serif; 
    cursor:pointer;
}
#main-content::-webkit-scrollbar {
    width: 0; 
    height: 0; 
}

/* splash screen */
.splash-screen{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: transform 0.9s;
}
.splash-screen.swipe-up {
    transform: translateY(-100vh); /* swipe up animation */
  }
.splash{
    position: absolute;
    top: 40%;
    left: 50%;  
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 40px;
}
.custcursor{
    width: 20px;
    height: 20px;
    background-color: antiquewhite;
    position: fixed;
    border-radius: 50%;

}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
#splash-text{
    position: relative;
    display: inline-block;
    letter-spacing: 4px;
    bottom: -20px;
    opacity: 0;
}

#splash-text.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

#splash-text.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
@media (max-width: 380px) {
    .fade{
        width: 100%;
    }
    .logo{
        width: 100%;
    }
    #splash-text{
        font-size: 2rem;
        text-align: center;
    }
    .custcursor {
        display: none;
    }
}
/*=======================================================
        main content body starts from here
=========================================================*/
#main-content {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
  }
#header{
/* background-image: url(images/final_img.jpeg);   */
width: 100%;
height: 100vh; 
background-position: center;
background-size: cover;

}

/* navigation Bar */

.navbar{
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
}

.navbar .menu li{  
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-decoration: none;
    /* background-color: #333333; */
}
.navbar .menu li a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 13px;
}
.navbar .max-width {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
}

.navbar .logoo a {
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
}

.sakshi_logo{
    position: relative;
    display: inline-block;
}

.credit {
    width: 60px;
    height: 60px;
    /* cursor: pointer; */
}

.slide-in {
    position: absolute;
    top: 20px;
    left: 100%; 
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.slide-in.active {
    transform: translateX(0);
    opacity: 1;
}

.slide-in.reverse {
    transform: translateX(-100%);
    opacity: 0;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}


.left {
    overflow: hidden;
    top: 10vw;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2vw;
    text-align: center;
    /* background-color: #333333; */
    height: 100vh;
}



.upper-txt{
    margin-top: 1.5vw;
    padding: 3vw;
}
.text-1 {
    font-size: 3vw;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 4px;
} 

.text-3{
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10vw;
    /* adding thegradient color effect */
    color: #499600;
    background-image: -webkit-linear-gradient(45deg, #499600 0%, #87c8ed 33%, #bacf51 67%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.txtbx-btn{
    background-color:transparent;
    border: 1px solid white;
    z-index: 10;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.17em;
    text-decoration: none;
    transition: 0.5s;
    padding: 1.3vw 3.5vw;
    box-shadow: 2px 5px 10px rgba(255, 255, 255, 0.256);
    transition: 0.85s;
}
.txtbx-btn:hover{
    letter-spacing: 0.25em;
    padding: 1.5vw 5vw;
    border-radius: 20px;
    box-shadow: 0 0 35px rgba(255, 255, 255, 0.288);
}
.txtbx-btn::before{
    inset: 2px;
    background:rgba(0,0,0,0);
    content:'';
}


.lower-txt{
    /* background-color: yellow; */
    height: 10vh;
    width: 100%;
}
/* For screens 800px and below */
@media (max-width: 850px) {
    .upper-txt {
        margin-top: 10%;
        margin-bottom: 7%;
    }
    .text-3{
        line-height: 2rem;
    }
    
}
/* For screens 800px and below */
@media (max-width: 800px) {
    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 10px;
        background-color: #3333332e;
        width: 200px;
        display: none;
    }
    .text-3{
        line-height: 2rem;
    }
    .menu.active {
        display: flex; 
    }
    
    .menu li {
        margin: 10px 0;
    }

    .menu a {
        font-size: 14px;
    }
    .upper-txt {
        margin-top: 30%;
        margin-bottom: 7%;
    }
}

/* For screens 620px and below */
@media (max-width: 620px) {
    .menu {
        display: flex;
        position: absolute;
        top: 40px;
        right: 50%;
        width: 200px;
    }
    
    .menu li {
        text-align: center;
    }

    .menu a {
        font-size: 12px;
    }

    .Code {
        font-size: 10px;
    }

    .left {
        width: 100%;
        height: 100vh;
        padding: 5%;
    }
    .upper-txt{
        margin-top: 65%;
    }
    .left .text-1{
        font-size: 1.4rem; 
        width: 100%;
    }
    .text-3 {
        width: 100%;
        font-size: 1rem;
        margin: 0px;
        padding: 0px;
    }
    .typing {
        color: #fff704;
        font-size: 15px;
        
    }
    .custcursor {
        display: none;
    }
}
@media (max-width: 425px) {
    .menu {
        display: flex;
        position: absolute;
        top: 40px;
        right: 50%;
        width: 200px;
    }
    
    .menu li {
        text-align: center;
    }

    .menu a {
        font-size: 12px;
    }

    .Code {
        font-size: 10px;
    }

    .left {
        width: 100%;
        height: 100vh;
        padding: 5%;
    }
    .upper-txt{
        margin-top: 30%;
    }
    .left .text-1{
        font-size: 1.4rem; 
        width: 100%;
    }
    .text-3 {
        width: 100%;
        font-size: 1rem;
        margin: 0px;
        padding: 0px;
    }
    .custcursor {
        display: none;
    }
}



/* For screens 380px and below */
@media (max-width: 380px) {
    .navbar {
        padding: 5px;
    }

    .menu a {
        font-size: 10px;
    }

    .credit {
        width: 25px;
    }

    .Code {
        font-size: 8px;
    }

    .menu {
        width: 100%;
    }

    .menu li {
        margin: 5px 0;
    }
    .left {
        width: 100%;
        height: 95vh;
        padding: 5%;
    }
    .left .text-1 h1{
        font-size: 2.5rem;
        width: 100%;
    }
    .text-3 {
        width: 100%;
        font-size: 1rem;
        margin-left: 0px;
        line-height: 1.8rem;
    }
    .upper-txt {
        margin-top: 50%;
    }
    
}   

.navbar .toggle-button {
    display: none;
    cursor: pointer;
    background-color: #333333;
    color: #fff;
    padding: 10px;
    border: none;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 800px) {
    .navbar .menu {
      display: none;
      position: absolute;
      top: 40px;
      right: 10px;
      background-color: #000000b9;
      width: 200px;
      flex-direction: column;
    }
    .navbar .toggle-button {
        display: block;
        cursor: pointer;
        background-color: #33333337;
        color: #fff;
        padding: 10px;
        border: none;
    }
    .navbar .menu.active {
      display: flex;
    }
  
    .navbar .menu li {
      margin: 10px 0;
    }
  
    .navbar .menu a {
      font-size: 14px;
    }
  
    .navbar .toggle-button {
      display: block;
    }
  }
  
  @media (max-width: 620px) {
    .navbar .menu {
        top: 46px;
        right: 11%;
        width: 109px;
    }
  
    .navbar .menu li {
      text-align: center;
      margin-left: 1%;
    }
  
    .navbar .menu a {
      font-size: 12px;
    }
  
    .Code {
      font-size: 10px;
    }
  }
  
  @media (max-width: 380px) {
    .navbar {
        padding: 5px;
        height: 10vh;
    }
    .navbar .max-width {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
    }
  
    .navbar .menu a {
      font-size: 10px;
    }
  
    .credit {
      width: 57px;
    }
  
    .Code {
      font-size: 8px;
    }
  
    .navbar .menu {
        width: 31%;
        height: 17vh;
        padding-left: 5%;
    }
    .navbar .menu li {
      margin: 5px 0;
    }
    .navbar.open {
      .menu {
          display: block;
          top: 80%;        
          padding-left: 2%;
          width: 35vw;

      }
  }
  }
  
/*=======================================================
                   about section starts
=========================================================*/
.one-box{
    background-color: #080808;
}
.about{
    width: 100%;
    height: 130vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: 'Quicksand', sans-serif; 
    color: black;
}


.about_right{
    height: 100vh;
    padding: 2vw;
    margin-top:6%;
}
.am{
    font-weight: 900;
    font-size: 4rem;
    border-bottom: 1px solid white;
    margin-left: 4%;
}

.resume{
    background-color: rgb(129 125 125);
    margin-top: 20px;
    padding: 1rem 2.5rem;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(107, 106, 106, 0.3);
    text-decoration: none;
    color: rgb(255 255 255);
    font-weight: 700;
    overflow: hidden;
    transition: 1s;
}
.resume:hover{
    border-radius: 20px;
    box-shadow: 0 0 35px rgba(255, 255, 255, 0.288);
    transform: translateY(-3px);
}

.body_of_about{
    line-height:2;
    width: 50%;
    margin-top: 2%;
    margin-left: 4%;
}
.about_para{
    display: flex;
    flex-direction: row;
}
.body_of_skills{
    width: 30%;
    margin-top: 2%;
}

.commn{
    display: flex;
    flex-wrap:wrap;
}
.com-div{
    padding: 1rem 2rem;
    background-color: rgba(129, 125, 125, 0.231);
    border-radius: 5px;
    text-align: center;
    margin-right: 1.5rem ;
    margin-bottom: 1rem;
    color: #35323299;
    font-weight: 200;
}
.body_of_skills h1{
    margin-bottom: 10%;
    margin-top: 10px;
}

@media only screen and (max-width: 850px) {
    .about {
        flex-direction: column;
        text-align: center;
        height: 100vh;
    }
    .am {
        font-size: 3.5em;
    }

    .body_of_about  {
        text-align: justify;
    }
    .pjt-dtl {
        min-height: 100vh;
        margin-top: 7%;
        display: flex;
        gap: 7%;
    }
}

@media screen and (max-width: 620px) {
    .about {
        height: 150vh;
        flex-direction: column;
        text-align: center;
    }

    .am {
        font-size: 3em;
    }

    .body_of_about  {
        text-align: justify;
    }
    .about_left {
        margin-top: 40%;
    }
}

@media screen and (max-width:380px) {
    .about_left {
        height: 30vh;
        margin-top: 15%;
    }
    .about {
        height: 150vh; 
        display: flex;
        justify-content: flex-start;

    }
    .am {
        font-size: 2.3em;
        letter-spacing: 5px;
    }
    .resume{
        padding: 10px 49px;
        margin-right: 5%;
    }
    .body_of_about {
        text-align: justify;
        width: 90%;
    }
    .about_para {
        display: flex;
        gap: 5%;
        flex-direction: column;
    }
    .body_of_skills {
        width: 100%;
        margin-top: 36%;
        padding-left: 3%;
    }
}
/*=======================================================
                   project section starts
=========================================================*/
.project{
    background-color: #e7e7e7;
    width: 100%;
    min-height: 150vh;
    color: black;
}
.pjt-hd{
    font-weight: 900;
    font-size: 2rem;
    border-bottom: 1px solid white;
    margin-left: 4%;
}

/* .title-pjt{
    padding-top: 4rem;
    
} */

.pjt-dtl{
    min-height: 80vh;
    /* margin-top: 10%; */
    display: flex;
    gap: 7%;
}

.pr1 {
    width: 45%;
    height: 60vh;
    margin-left: 5%;
    border-radius: 20px;
    margin-top: 3%;
}

.pj1img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#tech-img{
    object-fit:contain;
}
.pjt-dtl-about{
    width: 35%;
    height: 50vh;
    margin-top: 5%;
}
.pjt-abt-desp p{
    padding-top: 5%;
    line-height: 1.8em;
    padding-bottom: 5%;
}

.pjt-btn:hover {
    border-radius: 20px;
    box-shadow: 0 0 35px rgba(255, 255, 255, 0.288);
    transform: translateY(-3px);
}

.pjt-btn {
    background-color: rgb(129 125 125);
    border: 1px solid rgb(129 125 125);
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    padding: 1vw 1.5vw;
    box-shadow: 2px 5px 10px rgba(255, 255, 255, 0.256);
    transition: 0.85s;
    text-decoration: none;
}


@media screen and (max-width:850px) {
    .pj1img {
        height: 43vh;
        margin-top: 21%;
    }
}


@media screen and (max-width:620px) {
    .pj1img {
        height: 50vh;
        margin-top: 13%;
    }
    .pjt-dtl{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .title-pjt h1{
        margin-top: 4%;
        font-size: 1.5em;
   }
   .pr1{
        width: 70%;  

   }
   .pjt-dtl-about {
    width: 60%;
    height: 50vh;
    margin-top: 5%;
}
}
@media screen and (max-width:380px) {
    .title-pjt {
        padding-top: 1rem;
    }
    .title-pjt h1 {
        margin-top: 15%;
        font-size: 2.3rem;
        letter-spacing: 5px;
    }
    .project{
        height: 280vh;  
    }
    .pjt-dtl {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #added{
        margin-top: 18vh;
    }
    .pj1img {
        /* height: 33vh; */
        height: 200px;
        margin-top: 10%;
    }
    .pr1 {
        width: 90%;
        height: 30vh;
        margin: 0px;
    }
    .pjt-dtl-about {
        width: 80%;
        height: 37vh;
        margin-top: 0%;
    }
    .pjt-btn{
        padding: 0.5rem;
        width: 100%;
    }
}


/*=======================================================
                    contact us form
=========================================================*/
/* .blank-cnt{
    height: 100vh;
    width: 100%;
    background-color: rgb(160, 133, 95);
    display: flex;
    justify-content: center;  
    align-items: center;
    overflow: hidden; 
}
.box1 {
    transform: rotate(9deg);
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150%;
    background-color: white;
}
.txt-box1{
    background-color: #b05a5a;
    display: inline-block; 
    padding: 0 20px;
    font-size: 6rem; 
    font-weight: 900;
    white-space: nowrap;
    color: black;
    display: flex;
}

.box2 {
    position: absolute;
    transform: translateX(-20vw) rotate(-19deg);
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}
.txt-box2{
    background-color: #b05a5a;
    display: inline-block; 
    padding: 0 20px;
    font-size: 5rem; 
    font-weight: 900;
    white-space: nowrap;
    color: black;
    display: flex;
} */

.contact_me {
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Public Sans", sans-serif;
    font-weight: 100;
    position: relative;
    color: rgb(255, 255, 255);
    overflow: hidden;
}
.contact_me::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('images/background.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    z-index: -2;
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.form {
    background: rgba(255, 255, 255, 0.1);
    left: 50%;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 50%;
    height: 100vh;
    max-width: 600px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transform: perspective(1200px);
    transition: all 0.1s linear;
    z-index: 1;
}
form input, textarea {
    display: block;
    margin-bottom: 3em;
    font-weight: bold;
    width: 95%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    padding: 20px;
    color: white;
}

.form_btn button{
    background-color:rgb(86, 85, 85);
    margin-top: 20px;
    padding: 20px 40px;
    position:absolute;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: rgba(249, 245, 245, 0.632);
    font-weight: 100;
    overflow: hidden;
}

.form_btn button:hover{
    font-weight: 300;
    color: white;
    background-color: #3886e6;
    position: absolute;
    transition:0.8s ease-in-out;
}
.form_heading{
    display: flex;
    flex-direction: column;
}
.left_side{
    padding: 2vw 4vw;
}
.first_text{
    padding-left: 30px;
    font-weight: 200;
}

.first_text h1{
    font-size: 100px;
    margin-bottom: 1px;
    font-weight: 300;
}
.second_text{
    padding-left: 100px;
    
}
.second_text h1{
    font-size: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: 300;
}
.third_text h1{
    font-size: 100px;
    margin-top: 1px;
    font-weight: 300;
}

/* responsive design */
@media only screen and (max-width: 620px) {
    .left_side {
        line-height: 2;
        height: 60%;
    }
    .first_text h1{
        font-size: 40px;
    }
    .second_text {
        padding-left: 10px;
    }
    .second_text h1{
        font-size: 40px;
    }
    .third_text h1{
        font-size: 40px;
    }
    .form{
        width: 63%;
    }
}
@media only screen and (max-width: 380px) {
.left_side {
    line-height: 2;
    height: 10vh;
    padding-top: 4vw;
    width: 100%;
}
.first_text{
    padding-left: 0px;
}
.first_text h1{
    font-size: 2.5rem;
}
.second_text {
    padding-left: 10px;
}
.second_text h1{
    font-size: 2.5rem;
}
.third_text h1{
    font-size: 2.5rem;
}
.form{
    width: 90%;
    margin-top: 2%;

}
.contact_me{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 77vh;
    padding-bottom: 10vh;
}
.form_heading {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}
.form_btn{
    width: 90%;
    font-size: 1rem;
}
}


/*=======================================================
                    Footer section
=========================================================*/

footer{
    background-color: #080808;
    width: 100%;
    height: 50vh;
}
.footer-inner{
    display: flex;
    flex-direction: row;
    gap: 15%;
    padding-top: 3vw;
}
.footer_sec { 
    margin-top: 3%;
}
.foot-svg{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sv_1 {
    margin: 10px 10px;
}
.sv_2 {
   margin: 10px 10px;
}
.sv_3 {
    margin: 10px 10px;
}

.web_details{
    padding: 3px 5px 5px;
    display: flex;
    justify-content: center;
    top: 55px;
    position: relative;
}
.detail_sec{
    display: flex;
}
.detail_sec_1{
    padding-bottom: 2px;
    margin-right: 13px;
    
}
.footer-left{
    padding: 1rem 5rem;
    width: 50%;
}
.foot-cont p{
    padding-top: 1vw;
    line-height: 1.5em;

}
@media only screen and (max-width: 620px) {
    .footer-left {
        padding: 1rem 2rem;
        width: 50%;
    }
    .footer_sec {
        padding: 1rem 2rem;
        margin-top: 3%;
    }
    .footer-inner {
        display: flex;
        flex-direction: row;
        gap: 7%;
        padding-top: 3vw;
    }
}

@media only screen and (max-width: 425px) {
    .footer-left {
        padding: 1rem 1rem;
        width: 100%;
    }
    .footer_sec {
        padding: 1rem 1rem;
        margin-top: 3%;
    }
    .footer-inner {
        display: flex;
        flex-direction:column;
        gap: 3%;
        padding-top: 3vw;
    }
    .foot-svg {
        display: flex;
        flex-direction: row;        
        justify-content: flex-start;
    }
}

/* @media only screen and (max-width: 320px) {
    .footer-left {
        padding: 1rem 1rem;
        width: 100%;
    }
    .footer_sec {
        padding: 1rem 1rem;
        margin-top: 3%;
    }
    .footer-inner {
        display: flex;
        flex-direction:column;
        gap: 3%;
        padding-top: 3vw;
    }
    .foot-svg {
        display: flex;
        flex-direction: row;        
        justify-content: flex-start;

    }
} */
/*=======================================================
                    project page
=========================================================*/
.proj1{
    width: 100%;
    height: 230vh;
    padding: 3%;
    border: 1px solid whitesmoke;
}
h1{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.proj1 img{
    width: 33%;
    padding-top: 2%;
}
.proj-detail{
    padding-top: 3%;
}

.linnks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7%;
}